@charset "utf-8";
.selfinfo-logobox{
    width:100%;
    height:110px;
}
.selfinfo-logo{
    width:1100px;
    height:110px;
    margin:0 auto;
}
.selfinfo-logo a{
    float:left;
}
.selfinfo-logoright{
    width:570px;
    height:45px;
    float:left;
    margin-left:100px;
    margin-top:40px;
}
.selfinfo-logoright div a,.selfinfo-logoright div img{
    float:left;
    text-align:center;
    line-height:43px;
}
.selfinfo-logoright div a{
    margin-left:5px;
}
.selfinfo-logoright div a:hover{
    color:#c8a985;
}
.selfinfo-logoright-div1,.selfinfo-logoright-div2,.selfinfo-logoright-div3{
    height:45px;
    float:left;
    padding-left:1px;
    position:relative;
    margin-right:15px;
    background:url(../images/selfinfo/header-logo-shadow.jpg) no-repeat left bottom;
}
.selfinfo-logoright-div1{
    width:161px;
}
.selfinfo-logoright-div2{
    width:174px;
}
.selfinfo-logoright-div3{
    width:187px;
}
.selfinfo-logoright div img{
    cursor:pointer;
    position:absolute;
    left:0;
    top:0;
}
.selfinfo-logoright div a{
    float:right;
    margin-right:10px;
}
/*header-nav//////////////////////////////////////////////////////*/
.header-navbox{
    width:100%;
    height:46px;
    background:#000 url(../images/selfinfo/headerbg.jpg) no-repeat center;
}
.header-nav{
    width:1210px;
    height:46px;
    margin:0 auto;
}
.header-nav-div1{
    width:1000px;
    height:46px;
    margin:0 auto;
}
.myfifth{
    display:block;
    width:130px;
    height:38px;
    line-height:38px;
    text-align:center;
    color:#fff;
    float:left;
    font-size:16px;
    font-family:"黑体";
}
.indexoffifth{
    display:block;
    width:100px;
    height:38px;
    line-height:38px;
    text-align:center;
    color:#fff;
    font-size:14px;
    float:right;
    font-family:"黑体";
}
.indexoffifth:hover{
    color:#c8a985;
}
/*main/////////////////////////////////////////////*/
.main{
    width:1000px;
    min-height:700px;
    height:auto!important;
    height:700px;
    margin:7px auto 15px;
}
.main:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility:hidden;
}
.main-left{
    width:155px;
    height:699px;
    float:left;
    background:#fff;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow:  0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.main-left dl dt,.main-left dl dd{
    width:155px;
    height:32px;
    text-align:center;
    line-height:32px;
}
.main-left dl dd{
    line-height:30px;
}
.main-left dl dd a{
    color:#333;
}
.main-left dl dt{
    position:relative;
    font-size:14px;
    background:#c8a985;
}
.main-left dl dt span{
    position:absolute;
    left:20px;
    top:13px;
    display:block;
    float:left;
    width:10px;
    height:6px;
    background:url(../images/index/allbg2.png) no-repeat -476px -325px ;
}
.main-left dl dd a:hover{
    color:#c8a985;
    text-decoration:underline;
}
.main-right{
    width:815px;
    min-height:482px;
    height:auto!important;
    height:482px;
    padding:0 10px;
    background:#fff;
    float:right;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow:  0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
.main_right_myorder_titbox{
    width:100%;
    height:37px;
    border-bottom:1px solid #ccc;
}
.right_myorder_tit{
    width:68px;
    height:35px;
    border-bottom:2px solid #d00;
    line-height:40px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
}
.main_right_formbox{
    width:100%;
    height:27px;
    margin-top:15px;
}
.main_right_formbox form{
    width:250px;
    height:27px;
    float:right;
}
.main_right_txt{
    width:178px;
    height:21px;
    outline:none;
    text-indent:5px;
    float:right;
}
.main_right_btn{
    background:#d00;
    width:58px;
    padding-right:8px;
    height:27px;
    color:#fff;
    cursor:pointer;
    letter-spacing:3px;
    float:right;
    text-align:right;
    line-height:27px;
}
.main_right_formbox form .main_right_btn span{
    display:block;
    width:12px;
    float:left;
    margin:7px 0 0 8px;
    height:12px;
    cursor:pointer;
    background:url(../images/index/allbg2.png) no-repeat -408px -325px;
}
.main_right_menubox{
    width:100%;
    height:26px;
    border-bottom:2px solid #d00;
}
.main_right_menubox div{
    float:left;
    width:98px;
    height:26px;
    border-radius:5px 5px 0 0;
    margin-right:3px;
    text-align:center;
    line-height:26px;
    color:#333;
    cursor:pointer;
}
.lightingorder a{
    color:#d00;
}
.main_right_menubox .circlebg{
    background:#d00;
    color:#fff;
}
.main-right_detailnav{
    width:100%;
    height:31px;
    background:#f2f2f2;
    margin-top:15px;
    border-bottom:1px solid #ccc;
}
.main-right_detailnav li{
    float:left;
    width:100px;
    height: 32px;
    text-align:center;
    line-height:32px;
}
.main-right_detailnav  .main-right_selectbox{
    width:299px;
    padding-right:110px;
}
.main-right_selectbox .select_time{
    float:left;
    margin:6px 0 0 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:none
}
.allorder_detail{
    width:100%;
    min-height:342px;
    height:auto!important;
    height:342px;
}
.not_yetbuy{
    width:100%;
    height:18px;
    padding-top:70px;
    text-align:center;
    font-size:18px;
}
.allorder_detail .toindexlook{
    display:block;
    width:100px;
    height:30px;
    color:#fff;
    font-size:14px;
    background:#d00;
    border:1px solid #fff;
    margin:30px auto 0;
    border-radius:3px;
    text-align:center;
    line-height:30px;
}
.allorder_detail .toindexlook:hover{
    color:#333;
    background:#fff;
    border:1px solid #d00;
}
.toindexlook_down{
    width:100%;
    height:33px;
}
.toindexlook_down li{
    float:left;
    height:31px;
    cursor:pointer;
    text-align:center;
    line-height:31px;
    border:1px solid #ccc;
    width:129px;
}
.toindexlook_down .toindexlook_down_2{
    border-right:0;
    border-left:0;
}
.circlebg2{
    background:#d3aa7d;
}
.circlepic_box{
    width:100%;
    height:259px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    padding-top:30px;
    padding-bottom:30px;
}
.myorder_circlepic_leftbtn,.myorder_circlepic_rightbtn{
    width:31px;
    height:259px;
    cursor:pointer;
    background:#fff;
}
.myorder_circlepic_leftbtn{
  float:left;
}
.myorder_circlepic_leftbtn div{
    width:31px;
    height:75px;
    background:#fff url(../images/myorder/car_left.jpg) no-repeat center;
    margin:95px 0 0 0 ;
}
.myorder_circlepic_rightbtn{
   float:right;
}
.myorder_circlepic_rightbtn div{
    width:31px;
    height:75px;
    background:#fff url(../images/myorder/car_right.jpg) no-repeat center;
    margin:95px 0 0 0 ;
}
.myorder_circlepic_boxcont{
    width:753px;
    height:259px;
    float:left;
    overflow:hidden;
}
.myorder_circlepic_outerbox{
    width:1507px;
    height:259px;
}
.myorder_circlepic_outerbox div{
    z-index:3;
    float:left;
}
.myorder_circlepic_outerbox div ul{
    width:752px;
    height:259px;
    clear:both;
}
.myorder_circlepic_outerbox div ul li{
    float:left;
    width:188px;
}
.myorder_circlepic_outerbox div ul li img{
    width:134px;
    height:157px;
    margin:15px auto;
}
.myorder_circlepic_outerbox div ul li p{
    text-align:center;
    width:168px;
    height:36px;
    cursor:pointer;
}
.myorder_circlepic_outerbox div ul li p:hover{
    color:#c8a985;
}
.myorder_circlepicbox ul{
    width:752px;
    height:259px;
    clear:both;
  /*  /!*position:absolute;*!/
    /!*left:0;*!/
    /!*top:0;*!/*/
}
.myorder_circlepicbox ul li{
    width:188px;
    height:259px;
    float:left;
    text-align:center;
}
.myorder_circlepicbox ul li p{
    width:169px;
    height:36px;
    cursor:pointer;
}
.myorder_circlepicbox ul li p a{
    color:#d00;
}
.myorder_circlepicbox ul li p:hover{
    color:#c8a985;
}
.myorder_circlepicbox ul li p a{
    color:#d00;
}
.myorder_circlepicbox ul li img{
    width:134px;
    height:137px;
    margin:15px auto;
}
